<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="mundo" class="com.mycode.beans.World">
	<property name="saludo" value="Hola Mundo!"></property>
</bean>

<bean class="com.mycode.beans.MyCodeBeanPostProcessor"></bean>

<bean id="persona" class="com.mycode.beans.Persona" autowire="byType">
	<property name="id" value="1"></property>
	<property name="name" value="Alex"></property>
	<property name="nickname" value="Zars"></property>
</bean>

<bean id="country" class="com.mycode.beans.Country">
	<property name="name" value="Mexico"></property>
</bean>

<bean id="city" class="com.mycode.beans.City">
	<property name="name" value="Colima"></property>
</bean>

<bean id="player" class="com.mycode.beans.Player">
	<property name="number" value="10"></property>
	<property name="name" value="Cristiano"></property>
	<property name="team" ref="realmadrid"></property>
</bean>

<bean id="realmadrid" class="com.mycode.beans.RealMadrid"></bean>
<bean id="bayern" class="com.mycode.beans.Bayern"></bean>


</beans>
