<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.2.xsd">

<bean class="com.mycode.beans.MyCodeBeanPostProcessor"></bean>

<context:component-scan base-package="com.mycode.beans"></context:component-scan>

<bean id="mundo" class="com.mycode.beans.World">
	<property name="saludo" value="Hola Mundo!"></property>
</bean>

<bean id="persona" class="com.mycode.beans.Persona" autowire="byType">
	<property name="id" value="1"></property>
	<property name="name" value="Alex"></property>
	<property name="nickname" value="Zars"></property>
</bean>

<bean id="country" class="com.mycode.beans.Country">
	<property name="name" value="Mexico"></property>
</bean>

<bean id="city" class="com.mycode.beans.City">
	<property name="name" value="Colima"></property>
</bean>

</beans>
